@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

:root {
  --mat-form-field-container-vertical-padding: 6px;
  --mat-form-field-container-height: 32px;
  --mat-table-background-color: transparent !important;

  --primary: #000000;
  --secondary: #c1272d;
  --tertiary: #fff;
  --other: #f2eadf;

  --info: #6ca0dc;
  --success: #75c38b;
  --warning: #e6b655;
  --danger: #d85c5a;
}

/* For remove mat-form-field outline-appearance border bug */
.mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused,
.mdc-notched-outline__notch {
  border-right: none !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled),
.mdc-notched-outline__notch {
  border-right: none !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-left: transparent !important;
}

/*.mat-mdc-tab .mdc-tab-indicator__content--underline {*/
/*    border-color: var(--secondary) !important;*/
/*}*/

/* ngx-pagination */
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #603605 !important;
  color: white;
  cursor: default;
  border-radius: 5px;
}

.ngx-pagination li {
  color: #603605;
  cursor: default;
  border-radius: 5px !important;
  border: 1px solid #603605;
  margin-right: 0.25rem !important;
  overflow: hidden;
}
