@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
/* ngx-pagination */
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #603605 !important;
    color: white;
    cursor: default;
    border-radius: 5px;
}

.ngx-pagination li {
    color: #603605;
    cursor: default;
    border-radius: 5px !important;
    border: 1px solid #603605;
    margin-right: 0.25rem !important;
    overflow: hidden;
}